* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.container {
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 350px;
  padding: 20px;
}

.flex-text {
  display: flex;
}

.input-text {
  margin: 0;
  padding-left: 5px;
  padding-top: 3px;
}

input,
label {
  display: block;
  width: 100%;
}

input {
  width: 200px;
  margin-bottom: 30px;
  padding: 0.2em;
}
