* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #19484d;
}

h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.container {
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 370px;
  padding: 1.25rem 1.56rem;
  background: #7dbfa4;
  box-shadow: 3px 2px 10px 7px rgba(0, 0, 0, 0.34);
}

.flex-text {
  display: flex;
}

.input-text {
  margin: 0;
  padding-left: 5px;
  padding-top: 4px;
}

input,
label {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

input,
.calculate-btn {
  font-size: 16px;
}

input {
  width: 200px;
  padding: 0.3em 0.5em;
  margin-bottom: 30px;
  opacity: 0.7;
  border: 1px solid gray;
  border-radius: 4px;
}

.calculate-btn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  background: #19484d;
  color: white;
  padding: 0.5em 1em;
  font-weight: 700;
  transition: all 250ms ease-in-out;
}

.calculate-btn:hover,
.calculate-btn:focus {
  color: #19484d;
  background: white;
}

.signature {
  text-align: center;
  margin-top: -20px;
  color: #7dbfa4;
  font-size: 12px;
}

.signature a {
  color: #eaac80;
}

.signature a:hover {
  color: blue;
}
